/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select
{
    font-family: serif;
    font-weight: 400;
    color: #919499;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 700;
    color: #484d55;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: inherit;
    text-decoration: none;
}

a
{
    text-decoration: underline;
    color: #717479;
}
strong, b
{
    font-weight: 700;
    color: #484d55;
}

blockquote
{
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

em, i
{
    font-style: italic;
}

hr
{
    border: 0;
    border-top: solid 1px #ddd;
}

sub
{
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup
{
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

.nobr
{
    white-space: nowrap;
}

br.clear
{
    clear: both;
}

p, ul, ol, dl, table, blockquote, form
{
    margin-bottom: 2em;
}
/* Section/Article */

section,
article
{
    margin-bottom: 3em;
}

section > :last-child,
article > :last-child
{
    margin-bottom: 0;
}

section:last-child,
article:last-child
{
    margin-bottom: 0;
}

header.style1
{
    text-align: center;
}

header.style1 h2
{
    font-weight: 700;
}

header.style1 p
{
    color: #b1b4b9;
}
/* List */

ul.default
{
    list-style: disc;
    padding-left: 1em;
}

ul.default li
{
    padding-left: 0.5em;
}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
}

#logo h1
{
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

#logo p
{
    color: #eee;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
}
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

#intro
{
}

#intro > .style1
{
}

#intro > .style2
{
    font-weight: 700;
    color: #fff;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
}

#intro > .style2 a
{
    color: inherit;
    text-decoration: none;
}

#intro > .style3
{
}

#softwareCategories
{
    max-width: 100%;
}