body
{
    font-family: serif;
    font-weight: 400;
    color: #919499;
    padding: 0;
    margin: 0;
}
hr
{
    border: 0;
    border-top: solid 1px #ddd;
}
p, ul, ol, dl
{
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}
#header {
    position: relative;
    margin: 0;
}
#header-wrapper
{
    padding: 6em 2em 6em 2em;
    background: url('images/banner.jpg') center center;
    background-size: cover;
}
#logo h1
{
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}
#logo h1 a,
#logo h1 a:visited
{
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
#logo p
{
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    color: #eee;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font: inherit;
}
#logo pre
{
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    color: #eee;
    color: rgba(255,255,255,0.5);
    font: inherit;
}
.wrapper
{
    position: relative;
}

.wrapper .title
{
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    letter-spacing: 0.25em;
    border-radius: 2px 2px 0 0;
}

.wrapper .title:before
{
    content: '';
    position: absolute;
    bottom: -38px;
    left: -35px;
    width: 35px;
    height: 38px;
    background: url('images/shadow.png');
}

.wrapper .title:after
{
    content: '';
    position: absolute;
    bottom: -38px;
    right: -35px;
    width: 35px;
    height: 38px;
    background: url('images/shadow.png');
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.wrapper.style1
{
    background: #73caca;
    color: #eee;
    color: rgba(255,255,255,0.75);
}
.wrapper.style1 .title
{
    background: #73caca;
    color: #fff;
}
.wrapper.style2
{
    background: #fff;
}

.wrapper.style2 .title
{
    background: #fff;
    color: #484d55;
}


/*Mobile*/
@media only screen
and (min-width : 200px)
and (max-width : 737px)
{
    body
    {
        line-height: 1.5em;
        font-size: 10.5pt;
        letter-spacing: 0;
    }
    #titleBar
    {
        background: none;
    }
    #titleBar .title
    {
        display: none;
    }
    #header-wrapper
    {
        padding: 6em 2em 6em 2em;
    }
    .homepage #header {
        padding: 12em 0;
    }
    #logo
    {
        text-align: center;
    }
    #logo h1
    {
        font-size: 1.5em;
        letter-spacing: 0.2em;
    }
    #logo p
    {
        margin: 1.25em 0 0 0;
        display: block;
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    #nav
    {
        display: none;
    }
}

/*desktop*/
@media only screen
and (min-device-width : 737px)
and (min-width : 737px)
{
    body
    {
        font-size: 13pt;
        line-height: 1.75em;
        letter-spacing: 0.025em;
    }
    header.style1
    {
        padding: 3em 0 3em 0;
    }
    .wrapper
    {
        position: relative;
    }
    .wrapper .title
    {
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        letter-spacing: 0.25em;
        border-radius: 2px 2px 0 0;
    }
    #intro
    {
        text-align: center;
    }
    #intro > .style1
    {
        font-size: 1.5em;
        letter-spacing: 0.075em;
    }
    .wrapper
    {
        padding: 6em 0 9em 0;
    }
    .wrapper .title
    {
        font-size: 0.9em;
        width: 25em;
        height: 3.25em;
        top: -3.25em;
        line-height: 3.25em;
        margin-bottom: -3.25em;
        margin-left: -12.5em;
        padding-top: 0.5em;
    }
    #header-wrapper
    {
        padding: 0;
    }
    #header
    {
        position: relative;
        padding: 12em 0;
    }
    .homepage #header
    {
        padding: 18em 0;
    }
    #logo
    {
        position: absolute;
        height: 5em;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: -0.5em;
    }
    .homepage #logo
    {
        margin-top: -1em;
    }
    #logo h1
    {
        font-size: 2em;
        letter-spacing: 0.25em;
    }
    #logo p
    {
        margin: 1.25em 0 0 0;
        display: block;
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    #nav
    {
        position: absolute;
        display: block;
        top: 2.5em;
        left: 0;
        width: 100%;
        text-align: center;
    }
    #nav > ul > li > ul
    {
        display: none;
    }
    #nav > ul
    {
        display: inline-block;
        border-radius: 0.35em;
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.25);
        padding: 0 1.5em 0 1.5em;
    }
    #nav > ul > li
    {
        display: inline-block;
        text-align: center;
        padding: 0 1.5em 0 1.5em;
    }
    #nav > ul > li > a,
    #nav > ul > li > span
    {
        display: block;
        color: #eee;
        color: rgba(255,255,255,0.75);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 0.25em;
        height: 5em;
        line-height: 5em;
        outline: 0;
    }
    #nav > ul > li:hover > a,
    #nav > ul > li.active > a,
    #nav > ul > li.active > span
    {
        color: #fff;
    }
}

/*1000px*/
@media only screen
and (min-width : 900px)
{
    /*********************************************************************************/
    /* Header                                                                        */
    /*********************************************************************************/

    #header
    {
        padding: 10em 0 !important;
    }

    .homepage #header
    {
        padding: 26em 0 !important;
    }
}

